@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<tr class="text-danger">
    <td colspan="5" class="text-center"><i class="fas fa-sad-tear"></i> Ooops, No brick found in database.</td>
</tr>