@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Attic Lego</h1>
    <p>
        No. 1 unofficial website for referencing Lego constructions.<br/>
        Discover a variety of themes, boxes and parts registered in our database.<br/>
        You can also submit construction boxes that you cannot find on the site by clicking <a asp-area="" asp-controller="Boxes" asp-action="Create">here</a><br/><br/>
        <small>Special thanks to Mr. Duccini Christian for the aim inspiration of this project.</small>
    </p>
</div>
