@model Web_Programming_Project.Models.BrickColor

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>BrickColor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating mt-2">
                <input asp-for="BrickColorName" class="form-control" />
                <label asp-for="BrickColorName" class="control-label"></label>
                <span asp-validation-for="BrickColorName" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <input type="text" id="colorPickerInput" class="form-control" value="rgba(0, 0, 0, 1)">
                <input asp-for="BrickColorRed" class="form-control visually-hidden disabled" />
                <input asp-for="BrickColorGreen" class="form-control visually-hidden disabled" />
                <input asp-for="BrickColorBlue" class="form-control visually-hidden disabled" />
                <input asp-for="BrickColorAlpha" class="form-control visually-hidden disabled" />
            </div>

            <div class="form-group mt-2">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
