@using Web_Programming_Project.Data.Enum;
@model Web_Programming_Project.Models.Theme

@{
    ViewData["Title"] = "Create a theme";
}

<h1>Create <small class="text-muted h5 fst-italic">Theme</small></h1>
<hr />
<form asp-action="Create" enctype="multipart/form-data">
    <div class="row">
        <div class="col-5">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating mt-2">
                <input asp-for="ThemeName" class="form-control" />
                <label asp-for="ThemeName" class="control-label"></label>
                <span asp-validation-for="ThemeName" class="text-danger"></span>
            </div>
            <div class="form-floating mt-2">
                <select asp-for="ThemeAgeCategory" class="form-select" asp-items="Html.GetEnumSelectList<AgeCategoryEnum>()"></select>
                <label asp-for="ThemeAgeCategory" class="control-label"></label>
                <span asp-validation-for="ThemeAgeCategory" class="text-danger"></span>
            </div>
            <div class="form-floating mt-2">
                <textarea asp-for="ThemeDescription" class="form-control h-100"></textarea>
                <label asp-for="ThemeDescription" class="control-label"></label>
                <span asp-validation-for="ThemeDescription" class="text-danger"></span>
            </div>
        </div>
        <div class="col-3"></div>
        <div class="col-4">
            <div class="form-group mt-2 visually-hidden" id="imgRenderFormGroup">
                <h5>Current image</h5>
                <img src="/uploads/images/Themes/default.png" asp-append-version="true" class="render-img ms-2" id="imgRenderView" />
                <input asp-for="ThemeImgName" class="form-control visually-hidden" id="imgNameEdit" />
                <button class="btn btn-danger" type="button" onclick="doDeleteImg()"><i class="fa-solid fa-trash"></i></button>
            </div>
            <div class="form-group mt-2">
                <label asp-for="ThemeImgFile" class="control-label"></label>
                <input asp-for="ThemeImgFile" class="form-control" type="file" accept="image/png,image/jpeg,image/jpg" id="imgFormInput" />
                <span asp-validation-for="ThemeImgFile" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-group mt-2">
        <input type="submit" value="Create" class="btn btn-primary" />
        <a asp-action="Index">Back to List</a>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
