@using Web_Programming_Project.Data.Enum;
@model Web_Programming_Project.Models.Theme

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Theme</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ThemeName" class="control-label"></label>
                <input asp-for="ThemeName" class="form-control" />
                <span asp-validation-for="ThemeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThemeDescription" class="control-label"></label>
                <input asp-for="ThemeDescription" class="form-control" />
                <span asp-validation-for="ThemeDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThemeImgFile" class="control-label"></label>
                <img asp-append-version="true" class="visually-hidden" width="125px" height="100px" id="imgRenderView" />
                <input asp-for="ThemeImgFile" class="form-control" type="file" accept="image/png,image/jpeg,image/jpg" id="imgFormInput" />
                <span asp-validation-for="ThemeImgFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThemeAgeCategory" class="control-label"></label>
                <select asp-for="ThemeAgeCategory" class="form-select" asp-items="Html.GetEnumSelectList<AgeCategoryEnum>()"></select>
                <span asp-validation-for="ThemeAgeCategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
