@using Web_Programming_Project.Data.Enum;
@model Web_Programming_Project.Models.Box

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Box</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="BoxName" class="control-label"></label>
                <input asp-for="BoxName" class="form-control" />
                <span asp-validation-for="BoxName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BoxThemeId" class="control-label"></label>
                <select asp-for="BoxThemeId" class="form-control" asp-items="ViewBag.BoxThemeId"></select>
                <span asp-validation-for="BoxThemeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BoxAgeCategory" class="control-label"></label>
                <select asp-for="BoxAgeCategory" class="form-control" asp-items="Html.GetEnumSelectList<AgeCategoryEnum>()" ></select>
                <span asp-validation-for="BoxAgeCategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h5>Current image</h5>
                <img src="@("~/uploads/images/Boxes/"+Model.BoxImgName)" asp-append-version="true" width="150px" height="100px" id="imgRenderView" />
                <input asp-for="BoxImgName" class="form-control visually-hidden" id="imgNameEdit" />
                <input class="btn btn-primary" type="button" onclick="doDeleteImg()" value="Delete Image">
            </div>
            <div class="form-group">
                <label asp-for="BoxImgFile" class="control-label"></label>
                <input asp-for="BoxImgFile" class="form-control" type="file" accept="image/png,image/jpeg,image/jpg" id="imgFormInput" />
                <span asp-validation-for="BoxImgFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BoxDescription" class="control-label"></label>
                <input asp-for="BoxDescription" class="form-control" />
                <span asp-validation-for="BoxDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
