html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.card-lego-box {
    border: none;
}

.media-img-lego {
    width: 180px;
}
.media-img-lego > img,
.render-img {
    min-height: 120px;
    max-height: 180px;
    min-width: 120px;
    max-width: 180px;
}