html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.bg-lego {
    border-top: 1px solid rgb(255, 217, 53);
    border-bottom: 1px solid rgb(233, 162, 3);
    background-color: rgb(255, 207, 0);
    box-shadow: rgba(232, 105, 2, 0.4) 0px 25px 25px -25px inset, rgba(232, 105, 2, 0.4) 0px -25px 25px -25px inset;
}

.logo-lego {
    height: 24px;
    width: 24px;
}

.rotate {
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.card-lego-box {
    border: none;
}

.media-img-lego {
    width: 180px;
}
.media-img-lego > img,
.render-img {
    height: 180px;
    min-width: 120px;
    max-width: 180px;
}

.list-bricks-overflow {
    height: 30em !important;
}